
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: black;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: whitesmoke;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links li {
    transition: color 0.3s;
}

.nav-links li:hover {
    color: skyblue;
}

.hero {
    height: 90vh;
    background: linear-gradient(to bottom, #f9f9f9, #e3e3e3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.btn-primary {
    background: #0078e7;
    color: white;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.btn-primary:hover {
    background: #005bb5;
}

.about, .products {
    padding: 3rem 2rem;
    text-align: center;
}

.products .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
}

.product-card {
    background: #fff;
    padding: 1rem;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.product-card img {
    max-width: 100%;
    border-radius: 8px;
}

.footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

